<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio.body %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @portfolio.main_image %>
</p>

<p>
  <strong>Thumb image:</strong>
  <%= @portfolio.thumb_image %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
